# Dependencies
node_modules
npm-debug.log

# Environment files
.env
.env.local

# IDE & OS
.vscode
.idea
.DS_Store
Thumbs.db
.git

# Build artifacts
dist
*.tsbuildinfo

# Documentation
README.md
ETAPA-*.md
PACKAGE-SUMMARY.md
FIX-BUILD-ERROR.md
